$color-primary-blue: #5368df;
$color-primary-red: #fa5757;

$color-grey: #9194a1;
$color-grey-2: #e8eaf1;
$color-dark: #252b46;

$padding-side: 9%;
$padding-side-mobile: 7%;

$bshadow-1: rgba(16, 36, 94, 0.4) 0px 2px 6px 0px;
$bshadow-2: rgba(0, 0, 0, 0.1) 0px 6px 16px 0px;