.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem $padding-side;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.35rem;
  font-weight: 500;

  &__nav-toggle {
    display: none;
  }

  &__nav-link {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-dark;
      margin-right: 4rem;
    }

    &:hover {
      color: $color-primary-red;
    }
  }

  .btn {
    font-size: inherit;
  }

  &__social-row {
    visibility: hidden;
    opacity: 0;
    position: fixed;
  }

  
  ///////// SMALL SCREENS

  @include respond(tablet) {
    &__nav-toggle {
      display: inline-block;
    }

    &::before {
      content: "";
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100vw;
      height: 0;
      background-color: rgba($color-dark, 0.95);
      opacity: 0;
      z-index: -1;
      transition: all 0.4s ease-in;
    }

    &.stretch {
      position: relative;
      font-size: 1.8rem;
      z-index: 9999;

      &::before {
        opacity: 1;
        height: 100%;
      }
    }

    &__navigation {
      display: none;

      &.visible {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 11.5rem;
        bottom: 4rem;
        left: $padding-side-mobile;
        right: $padding-side-mobile;
        max-width: 400px;
        margin: auto;
        color: #fff !important;
      }
    }

    &__nav-link {
      width: 100%;
      color: inherit !important;
      padding: 2rem 0 !important;
      margin: 0 !important;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      font-weight: 400;
      animation: slideUp 0.35s ease-in 0.3s;
      animation-fill-mode: backwards;

      &:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.3);
      }
    }

    .btn {
      margin-top: 4rem;
      background-color: transparent;
      border-color: #fff;
      box-shadow: none;
      font-size: inherit;
      animation: slideUp 0.35s ease-in 0.5s;
      animation-fill-mode: backwards;

      &:hover {
        color: currentColor;
      }
    }

    &.stretch &__social-row {
      visibility: visible;
      opacity: 1;
      bottom: 5rem;
      left: 50%;
      transform: translateX(-50%);
      animation: slideUpAbs 0.35s ease-in 0.7s;
      animation-fill-mode: backwards;
    }

    &__social-link  {
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }

    &__social-icon {
      width: 3.25rem;
      height: 3.25rem;
      fill: #fff;
    }
  }
}
