.card {
  box-shadow: $bshadow-2;
  padding: 2.5rem 2.5rem 3.5rem;
  border-radius: 10px;

  @include respond(tablet-1000) {
    width: 100%;
    max-width: 30rem;
  }

  &:not(:last-child) {
    margin-right: 3rem;

    @include respond(tablet-1000) {
      margin-right: 0;
      margin-bottom: 4.5rem;
    }
  }

  &__icon {
    margin-bottom: 2.5rem;
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1.5rem;
    margin-bottom: 4rem;
  }

  &__seperator {
    width: calc(100% + 5rem);
    margin-left: -2.5rem;
    margin-bottom: 3.5rem;
    border-style: dotted none none;
    border-width: 4px;
    border-color: $color-grey-2;
  }

  &--1 {
    align-self: flex-start;

    @include respond(tablet-1000) {
      align-self: center;
    }
  }

  &--2 {
    align-self: center;
  }

  &--3 {
    margin-top: 10rem;

    @include respond(tablet-1000) {
      margin-top: 0;
    }
  }
}
